<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <title>Zoológico Chihuahuas</title>
    </head>

    <body>

        <!-- Tabla dinámica de los tipos de perro chihuahua -->
        <table>
            <tr>
                <th>Tipo de Chihuahua</th>
                <th>Descripción</th>
                <th>Imagen</th>
            </tr>
            {% for chihuahua in chihuahuas %}
            <tr>
                <td>{{ chihuahua.tipo }}</td>
                <td>{{ chihuahua.descripcion }}</td>
                <td>
                    <img src="{{ url_for('static', filename=chihuahua.imagen) }}" alt="{{ chihuahua.tipo }}">
                </td>
            </tr>
            {% endfor %}
        </table>

    </body>
</html>